html {
	width: 100%;
}
body {
	background-color: #fff;
}
h1, h2, p {
	color: #1E628F;
	font-family: Sukhumvit Set;
}
h1 {
	font-size: 40px;
	margin: 10px;
}
h3, h4 {
	font-family: #fff;
	font-family: Sukhumvit Set;
	color: white;
}
h4 {
	font-weight: lighter;
}
h5 {
	width:200px;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
.container {
}
#navbar {
	width: 100%;
	height: 60px;
	position: fixed;
    top: 0;
	background-color: #fff;
	z-index: 100;
	box-shadow: 0px 2px 12px black;
}
.article {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	max-width: 700px;
	padding; 10px;
}
.buttons {
	background-color: #1E628F;
	color: #fff;
	border: 0px;
	transition: all 1s;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 0px;
	margin-right: 20px;
	font-family: Sukhumvit Set, sans-serif;
	font-size:12px
}
.buttons_2 {
	font-size:14px;
	color: #000;
	background-color: #fff;
	padding: 0px 50px 0px 50px;
	width: 100%;
	height: 45px;
}
.buttons:hover {
	background-color: #013;
}
.buttons_2:hover {
	background-color: #000;
	color:#fff;
}
#group_2 {
	background-image: url('hero_image.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.gradient_1 {
	height: 100px;
	position: absolute;
	bottom: -1px;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
}
.gradient_2 {
	height: 100px;
	position: absolute;
	top: -1px;
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
}
.gradient_3 {
	margin-top: 50px;
	height:20px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(30,98,143,0)), to(rgba(30,98,143,0.7)));
}
.gradient_4 {
	height:20px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(30,98,143,0.7)), to(rgba(30,98,143,0)));
}
.article h3 {
	color: #1E628F;
	font-family: Sukhumvit Set;
}
#article_1 {
	height: 650px;
	float: left;
}
#form_main {
	height: 650px;
	float: left;
}
#article_2 {
	
}
#article_3 {
	
}
#presentation {
	height: auto;
	width: 100%;
	max-width: 1600px;
	margin:auto;
	position: relative;
}
#article_4 {
	width: 100%;
	padding:10px;
	font-size: 10px;
	color: #777;
	font-weight: lighter;
	font-family: Sukhumvit Set;
	font-style: normal;
	line-height: normal;
}
#text_intro {
	margin:auto;
	width:400px;
	margin-top: 190px
}
#all_wrap {
	width: 400px;
	margin: auto;
	z-index: 99;
}
#form_wrap {
	padding: 40px;
	background-color: rgba(30,98,143,0.7);
	color:#fff;
}
#form_wrap input {
	width: 100%;
	margin-bottom: 20px;
	background-color: rgba(30,98,143,0.0);
	border: 0px;
	border-bottom: 1px solid #fff;
	padding-left: 5px;
}
#form_wrap p {
	margin-bottom:15px;
}
#map_iframe, #map_image {
	max-width: 1050px;
	height: 550px;
	margin: auto;
	transition: height 1s;
}
#map_iframe iframe {
	width: 100%;
	height: 100%;
}
::-webkit-input-placeholder {
	color: #fff;
	margin:0px;
	padding:0px;
}
select {
	-webkit-apperance: none;
	-moz-apperance: none;
	-o-apperance: none;
	-ms-apperance: none;
	apperance:none;
	
	display: block;
	margin: 0px 0px 30px 0px;
	padding: 10px 50px 10px 10px;
	background-color: rgba(30,98,143,0);
	border: 0px;
	border-bottom: 1px solid #fff;
	width: 100%;
	color: #fff;
}
select option {
	border: 0px;
	background-color: #fff;
	color: #666;
}
select option:hover {
	background: blue;
	color: #fff;
}
.con_1 {
	float: left;
}
.con_2 {
	float: right;
}
.con_2 b, .con_2 h3 {
	float: right;
}
@media (max-width: 900px) {
	#text_intro p {
		font-size: 35px;
		font-weight: lighter;
	}
	#form_wrap h3 {
		font-size: 45px;
	}
	#form_wrap h4, #form_wrap p, select option {
		font-size: 35px;
	}
	#text_intro {
		width: 100%
	}
	#text_intro h1 {
		font-size: 68px;
	}
	#all_wrap {
		margin: 0px;
		width: 100%
	}
	#form_main {
		height:850px;
	}
	#article_3 h3, #article_2 h3 {
		font-size: 45px;
		color: #000;
	}
	#article_3 p, #article_2 p {
		font-size: 30px;
	}
	#navbar {
		height: 100px;
	}
	#con_2 #phone_intro {
		float: left;
	}
	.con_2 b {
		float: left;
	}
	.contact {
		font-family: sans-serif;
		width: 100%;
		font-size: 35px;
		text-align: center;
	}
	.contact img {
		width: 120px;
		display: block;
		margin: auto;
		margin-bottom: 45px;
		margin-top: 35px;
		text-align: center;
	}
	.contact h3 {
		font-size: 45px;
		text-align: center;
	}
	.contact #phone_number {
		float: left;
	}
	.article h2 {
		font-size: 45px;
		width: auto;
		margin: 0px;
		text-align: center;
		font-weight: normal;
	}
	.buttons {
		height: 70px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 0px;
		margin-right: 20px;
		font-size: 30px
	}
	.buttons_2 {
		color: #000;
		background-color: #fff;
		text-align: center;
		height: 70px;
	}
	.gradient_3, .gradient {
		
	}
}